@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(192, 194, 222);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.searchCard {
  margin-top: 20px;
}

.movieSearchImg {
  width: auto;
  height: 400px;
  display: block;
}

.nav {
  background-color: #333;
  /* height: 20px; */
  padding: 10px;
}

.nav nav {
  display: flex;
  gap: 20px;
}

.nav-links {
  cursor: pointer;
}



